*{
	
	padding: 0px;
	margin: 0px;
}
.wrap{
	width:1000px;
	height:500px;
	/* background:green; */
	margin:auto;
}
.parents{
	width:auto;
	height:250px;
	/* background:red; */
	margin-left: -2%;
}
.son{
	width:23%;
	height:200px;
	/* background:yellow; */
	margin-left: 2%;
	float:left;
}
img{
	max-width:100%;
}


.son img {
    margin-bottom: 12px;
}

.son h2 {
    font-size: 30px;
    margin-bottom: 20px;
}